#attraction-hamtic,
#attraction-vista-paloma,
#attraction-happy-sunset,
#attraction-sibalom,
#attraction-patnongon,
#attraction-linaw-balud,
#attraction-ebj,
#attraction-esplanade {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#attraction-hamtic {
  background-image: url("../assets/sta-monica-church.jpeg");
}

#attraction-vista-paloma {
  background-image: url("../assets/vista-paloma.jpeg");
}

#attraction-happy-sunset {
  background-image: url("../assets/happy-sunset.jpg");
}

#attraction-sibalom {
  background-image: url("../assets/queen-elizabeth.png");
}

#attraction-patnongon {
  background-image: url("../assets/trois.jpg");
}

#attraction-linaw-balud {
  background-image: url("../assets/linaw-balud.jpeg");
}

#attraction-ebj {
  background-image: url("../assets/ebj.jpg");
}

#attraction-esplanade {
  background-image: url("../assets/san-jose-esplanade.jpg");
}

.attraction-banner-backdrop {
  backdrop-filter: brightness(64%);
}
