#item-hamtic,
#item-belison,
#item-sibalom,
#item-patnongon,
#item-san-jose {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#item-hamtic {
  background-image: url("../assets/logo-hamtic.png");
}

#item-belison {
  background-image: url("../assets/logo-belison.png");
}

#item-sibalom {
  background-image: url("../assets/logo-sibalom.png");
}

#item-patnongon {
  background-image: url("../assets/logo-patnongon.png");
}

#item-san-jose {
  background-image: url("../assets/logo-san-jose.png");
}

.item-box {
  backdrop-filter: brightness(50%);
  border-radius: 18px;
}
