.gallery {
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#hp-1 {
  background-image: url("../assets/hp-1.jpeg");
}

#hp-2 {
  background-image: url("../assets/hp-2.jpg");
}

#hp-3 {
  background-image: url("../assets/hp-3.jpeg");
}

#bp-1 {
  background-image: url("../assets/bp-1.jpeg");
}

#bp-2 {
  background-image: url("../assets/bp-2.jpeg");
}

#bp-3 {
  background-image: url("../assets/bp-3.jpeg");
}

#bp-4 {
  background-image: url("../assets/bp-4.jpeg");
}

#sp-1 {
  background-image: url("../assets/sp-1.png");
}

#sp-2 {
  background-image: url("../assets/sp-2.png");
}

#sp-3 {
  background-image: url("../assets/sp-3.png");
}

#pp-1 {
  background-image: url("../assets/pp-1.jpg");
}

#pp-2 {
  background-image: url("../assets/pp-2.jpg");
}

#pp-3 {
  background-image: url("../assets/pp-3.jpg");
}

#esp-1 {
  background-image: url("../assets/esplanande-1.jpg");
}

#esp-3 {
  background-image: url("../assets/esplanade-3.jpg");
}

#hsp-1 {
  background-image: url("../assets/happy-sunset.jpg");
}

#hsp-2 {
  background-image: url("../assets/happy-sunset-1.jpg");
}

#hsp-3 {
  background-image: url("../assets/happy-sunset-2.jpg");
}

#lbp-1 {
  background-image: url("../assets/linaw-balud.jpeg");
}

#lbp-2 {
  background-image: url("../assets/linaw-balud-1.jpeg");
}

#lbp-3 {
  background-image: url("../assets/linaw-balud-2.jpeg");
}

#ebj-1 {
  background-image: url("../assets/ebj-1.jpg");
}

#ebj-2 {
  background-position: 0 -240px;
  background-image: url("../assets/ebj-2.jpg");
}

#ebj-3 {
  background-image: url("../assets/ebj-3.jpg");
}

#gp-1 {
  background-image: url("../assets/gemstone-1.jpeg");
}

#gp-2 {
  background-image: url("../assets/gemstone-2.jpeg");
}

#gp-3 {
  background-image: url("../assets/gemstone.jpeg");
}

#gp-4 {
  background-image: url("../assets/gemstone-3.jpg");
}

#gp-5 {
  background-image: url("../assets/gemstone4.jpg");
}

#pwp-1 {
  background-image: url("../assets/parangabuhian-1.jpg");
}

#pwp-2 {
  background-image: url("../assets/parangabuhian-2.jpg");
}

#bwp-1 {
  background-image: url("../assets/baldone-1.jpg");
}

#bwp-2 {
  background-image: url("../assets/baldone-2.jpg");
}
