#product-hamtic,
#product-belison,
#product-sibalom,
#product-patnongon {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#product-sibalom {
    background-image: url("../assets/gemstone.jpeg");
}

#product-patnongon {
    background-image: url("../assets/parangabuhian.jpg");
}